{% extends "/days/daybase.html" %}
{% block article %}
<header>
<h2>Day 1</h2>
</header>
<p>So... here we are. The first day of 365. My name is Gavin Lifrieri, and on January 2<sup>nd</sup>, 2020, I decided to do a new project every single day for one (1) year. If you are reading this, then you are either me, or you are checking in and seeing how the year is going. Thanks for stopping by. For the rest of this post I'll talk a little bit about what I'm doing this year, why I'm doing it, and then what I did today.</p>
<h3>The What</h3>
<p> The "What" behind the projects I will post on this website will be... whatever I want. Sounds anticlimactic, but hear me out. I'm interested in a lot of different things, as are most people, and when I was thinking of this project, I didn't want to be limited to projects in any particular field. I like science, comedy, music, art, and games–and I want the projects I work on throughout the year to be representative of all of that.</p>
<p>The goal is to create and finish a project every single day for one year. A "project" can be anything. Here are some examples:
<ul>
<li>An addition to a website</li>
<li>A statistical analysis on traffic lights</li>
<li>An episode of a podcast</li>
<li>A comedic fiction piece</li>
<li>A song parody</li>
</ul>
The scope of these projects will vary depending on the free time I have for the day. I also don't want to limit these projects to be things that I can start and complete in one (1) day, so I will also probably have projects that are over a longer time-span. One (1) thing is for sure though: <b>There will be a new post here every day on what project I'm currently working on.</b> We'll see what other rules or additions I make along the way.</p>
<h3>The Why</h3>
<p>At approximately 11:54 on the last day of 2019, I thought for a brief time about the last decade (2010-2019). I thought about what I've accomplished, where I've failed, and what made me the happiest. After no more or less than 3 minutes, I had my answers, and they were pretty simple. I've accomplished the most when I am actively doing and creating things. I've failed myself in moments that I've been idle. I've been the happiest when I've made projects that I can look back on and share with others. The next morning, January 1<sup>st</sup>, 2020, I had no internet access, but the day after that I decided that I would challenge myself to make something new every single day for one (1) year. I want this to be a year of progress in my life, and although New Year's resolutions are great, this challenge/project/whatever feels much more resolute.</p>
<h3>The Today</h3>
<p>Today, I worked on <em>this.</em> In other words, I set up the framework for this project. I built out the website that would be the location for all of these posts, and I wrote this post. The website is pretty barebones right now. I added a couple of items to make it a little prettier, like the typing effect on the landing page, but there is still much to be done. The next couple of days of projects will probably be additions on the site. It's pretty surprising how long the startup took. Compared to that, writing this post was nothing.</p>
<p>It's crazy to think about what this project is right now, and crazier to think about what this project can be. I haven't even deployed this site yet, but I'm already thinking about all the things I want to do. I'm excited to look back in a year, and see where this went.</p>

<p>Until tomorrow,<br>GPL</p>
{% endblock %}

