{% extends "/days/daybase.html" %}
{% block article %}
<header>
<h2>Day 10 - 1/11/2020</h2>
</header>

<h3>Intro</h3>
<p>Been hanging with Emily, so I've gotten to see a bunch of cool things. Here's a collage of the pictures I've taken with the general theme of "different perspectives". Kinda been obsessed with square images since I started working on this site because I use them for posts.</p>
<h3>San Diego</h3>
<p>I started the trip in San Diego, where Emily and I enjoyed the outdoors with a hike @ Torrey Pines</p>
<section>
  <div class="row">
    <div class="image fit">
        <img src="/static/images/trip/torrey.jpg" alt="">
    </div>
  </div>
  <div class="row">
    <div class="image fit">
        <img src="/static/images/trip/rock.jpg" alt="">
    </div>
  </div>
  <div class="row">
    <div class="image fit">
        <img src="/static/images/trip/islands.jpg" alt="">
    </div>
  </div>
</section>

<h3>Los Angeles</h3>
<p>Then, we drove up to LA, but not before Emily did her own <a href="https://www.renemagritte.org/the-son-of-man.jsp#prettyPhoto">Son of Man</a> rendition:</p>
<section>
  <div class="row">
    <div class="image fit">
        <img src="/static/images/trip/grapes.jpg" alt="">
    </div>
  </div>
</section>
<p>We also decided to hit up the Los Angeles County Museum, where I pretended to be artistic by taking pictures of other people's art in weird ways. In the words of Pablo Picasso though, <em>art is theft</em>.</p>
<section>
  <div class="row">
    <div class="image fit">
        <img src="/static/images/trip/stairs.jpg" alt="">
    </div>
  </div>

  <div class="row">
    <div class="image fit">
        <img src="/static/images/trip/stripe.jpg" alt="">
    </div>
  </div>
</section>
<p>Also my amazing instagram girlfriend Emily took some pictures of me:</p>
<section>
  <div class="row">
    <div class="image fit">
        <img src="/static/images/trip/perspective.jpg" alt="">
    </div>
  </div>
  <div class="row">
    <div class="image fit">
        <img src="/static/images/trip/rust.jpg" alt="">
    </div>
  </div>
</section>
<p>We also saw a very cool exhibit where someone completely reconstructed an apartment building using only sewn fabric.</p>
<section>
  <div class="row">
    <div class="image fit">
        <img src="/static/images/trip/pipe.jpg" alt="">
    </div>
  </div>
  <div class="row">
    <div class="image fit">
        <img src="/static/images/trip/stove.jpg" alt="">
    </div>
  </div>
</section>
<h3>Oakland</h3>
<p>Then, Emily drove us back up to the Bay (thank you), where we are now. We're eating good, and I'm trying to resuscitate Emily's plants:</p>
<section>
  <div class="row">
    <div class="image fit">
        <img src="/static/images/trip/deadplant.jpg" alt="">
    </div>
  </div>
  <div class="row">
    <div class="image fit">
        <img src="/static/images/trip/letters.jpg" alt="">
    </div>
  </div>
</section>
<h3>Outro</h3>
<p>This trip has made me think a lot about the things I appreciate, one of those being you, the reader. If you are out there looking at this post, chances are you're a friend checking in on how I'm doing. Thank you for stopping by. Here's one (1) last picture of Emily that captures how I feel about you:</p>
<section>
  <div class="row">
    <div class="image fit">
        <img src="/static/images/trip/handsup.jpg" alt="">
    </div>
  </div>
</section>
<p>Until tomorrow,<br>GPL</p>
{% endblock %}
