{% extends "/days/daybase.html" %}
{% block article %}
<header>
<h2>Day 11 - 1/12/2020</h2>
</header>

<h3>Baking</h3>
<p>Emily says that cooking is an art, and baking is a science. I've always been pretty shitty at art, but I love food so it's no wonder I loved baking. My mom's birthday is coming up, so I will be making <a href="https://www.davidlebovitz.com/salted-butter-chocolate-chip-cookies-recipe/">this</a> chocolate chip cookie recipe.</p>
<p>Credits to Emily for discovering this recipe. Her senior year, she toiled through baking a <em>ton</em> of chocolate chip cookie recipes to find one (1) that she considers above all the rest. She introduced the recipe to me, and now I pass it to you all. Enjoy.</p>
<p>Until tomorrow,<br>GPL</p>
{% endblock %}
