{% extends "/days/daybase.html" %}
{% block article %}
<header>
<h2>Day 12 - 1/13/2020</h2>
</header>

<h3>Intro</h3>
<p>Political comedy is a big reason why I started writing comedy in the first place. In high school, I would spend all of my free time watching Trevor Noah, Stephen Colbert, and John Oliver. Political comedy is the perfect mix of educational, ad goofy. Despite this, the only type of comedy I've done up until to this point has been short-form absurdist for the Lampoon. That changed recently.</p>

<h3>FastNewsWith</h3>
<p>A group of friends recently started a instagram channel called <a href="https://www.instagram.com/fastnewswith/">FastNewsWith</a> that gives a days worth of news in a minute. Our staff consists of: Braedon as our anchor, Sam as our video editor, Olivia as our news correspondant, and me as our writer working on funny news headlines. Currently, it is just Braedon acting as Nervy Neal, a nervous anchor anxious to get you the news. We hope to introduce more segments, and anchors in the future to report on other sections of the news.</p>

<p>Please check out the channel if you can! News comes out daily.</p>

<p>Until tomorrow,<br>GPL</p>
{% endblock %}
