{% extends "/days/daybase.html" %}
{% block article %}
<header>
<h2>Day 3 - 1/4/2020</h2>
</header>

<h3>Intro</h3>
<p>I started this challenge with the intention of creating a sundry array of projects from different fields. Unfortunately, the first couple of projects have been limited to website improvement to get everything off the ground. (Refer to yesterday's post.) Because of this, I am making the early posts focus more on the process of doing a technical thing, than the thing itself. Hopefully this keeps things interesting even if you are not interested in the technical projects. If you <em>really</em> don't want to read about this sort of stuff at all, just wait around for tomorrow's post. Anyway, enjoy. :)</p>
<h3 style="margin-bottom:1%">What I Did Today (and How Long it Took)</h3>
<table>
  <tr>
    <th style="text-align:left"><b>Item</b></th>
    <th style="text-align:left"><b>Duration</b></th>
  </tr>
  <tr>
    <td>Choosing/uploading pictures for every post</td>
    <td>~20 minutes</td>
  </tr>
  <tr>
    <td>Coding links to navigate between posts at bottom of page</td>
    <td>~20 minutes</td>
  </tr>
  <tr>
    <td>Hover effect on posts that shows the day</td>
    <td>~2 hours</td>
  </tr>
</table>
<p>Despite the outlier, I would not say that the last task was particularly more difficult than either of the first two. The reason for the difference in time wasn't the result of me getting frustrated at a road block. In fact, the opposite happened.</p>

<h3>On "Moving Fast" vs. "Moving Slow"</h3>
<p>The "2-hour task" is actually pretty similar to most of tasks involved in designing the face of a website. Someone decides they want a cool effect. They try to make that effect. They get frustrated, search up a tutorial, and then plug in code from stackoverflow into their site. This is traditionally the process that I personally have used when making websites, and I genuinely believe that my ability to work through "front-end" problems has deteriorated from it. You get quick results when you plug and chug code, but you learn more when you struggle to build something yourself.</p>
<p>This was my thought process before I finally found the tutorial to do the "2 hour task". (Link <a href="https://stackoverflow.com/questions/14263594/how-to-show-text-on-image-when-hovering">here</a>) Instead of doing my usual routine for front-end tasks, I tried teaching myself every component of the solution that I found. This can (and did) take forever, as styling a website is a whole rabbit hole of arcane magic. It was an enjoyable magic hole to explore, and it's likely that the 2 (two) hour investment will save me a lot of time in the future when there is no stackoverflow tutorial for what I'm trying to do.</p>
<p>It's also worth noting that moving slow isn't always the optimal strategy. I can recall when I first started (attempting) to teach myself programming. Pretty much all of my initial attempts were bogged down by the minutia and mysticism of programming and computing. No matter how meticulously I tried to process the background information of compilers and transistors, I would discover more in the rabbit hole that I didn't understand. It wasn't until I had a teacher that could tell me which information wasn't immediately important that I was actually able to pick up programming and stick with it.</p>
<p>My rule of thumb for moving fast vs. moving slow in a field is this: If there is too much information for you to process, move fast. Understanding will passively diffuse as you get moving/building/doing. If you feel like you have a good background, move slow. A project might take a little longer, but you'll actively get more knowledgeable.</p>

<h3>What's coming up</h3>
<p>Tomorrow I will be taking a break from the website-improvement projects, and will be working on a writing project with my good friend <a href="http://www.braedonvillano.com/">Braedon Villano</a>. I am not sure yet if I will post the results of the writing, or just the takeaways from working with Braedon, but we'll see. I'll also hopefully get Braedon to write a little something for the post.</p>

<p>Until tomorrow,<br>GPL</p>
{% endblock %}
