{% extends "/days/daybase.html" %}
{% block article %}
<header>
<h2>Day 4 - 1/5/2020</h2>
</header>

<h3>Intro</h3>
<p>I told you I was gonna do non-technical projects, and boy do I have projects. Today, I worked on a little bit of pixel art for the website, wrote out the outline for a pilot I am writing with <a href="http://www.braedonvillano.com/">Braedon Villano</a> and made a humor piece about drinking pee. Let's get into it.</p>

<h3>Favicons</h3>
<p>Favicons are the little icons that show up next to your tab when you go on a website. They are not an essential part of a website by any means, but they are a nice little touch to add to polish one up. As one can imagine, they are really small (16 pixels by 16.) Emily (my girlfriend) is designing one for the site, but in the meantime, I thought I would design a couple as well. Here are the three (3) that I came up with:</p>

<div class="row" style="margin-bottom:2em">
  <div class="col-4 col-6-medium col-12-small">
    <div class="image fit"><image src="/static/images/day4.jpg"> </image></div>
  </div>
  <div class="col-4 col-6-medium col-12-small">
    <div class="image fit"><image src="/static/images/favicon1.jpg"> </image></div>
  </div>
  <div class="col-4 col-6-medium col-12-small">
    <div class="image fit"><image src="/static/images/favicon2.jpg"> </image></div>
  </div>
</div>

<p>I'm pretty happy with the way these turned out. The first is supposed to be a succulent with a flower because why not, the second is a toolbox to represent the work I do on these projects everyday, and the last is the acronym of the website. You can make your own using the tool I did <a href="https://www.favicon.cc/">here</a></p>

<h3>Pilot Writing</h3>
<p>Braedon and I are super excited about this pilot and our work on it today. It's my first time writing a pilot, so I am conservative about how good it will be, but even still, I can't wait to keep writing for it. The process of writing for this has definitely been very different from my previous writing experiences. I don't know if it's the co-writing aspect or the fact that I'm writing for a different medium than I usually do, but it is a lot of fun. Usually, I find the end-product of my writing to be the most enjoyable part, but am sour towards the process. This is different.</p>
<p> I won't spoil too much about the show itself, but it centers on the idea of fast food workers. That's all I'll say on that until we actually have the pilot done, which I'll probably post here if Braedon is cool with it. I'll end off this post with the comedy piece I wrote today.</p>
<h3>Nature Survivalist</h3>
<p>
– Alright. Camera’s rolling. Go.<br>
– Welcome back! You’re here with Mike Bradly, <em>Nature Survivalist</em>. We are here in the middle of the desert, where as you can imagine, it’s quite hot. Dehydration is a big issue here, so to survive, I’ll need to not waste any liquids. One strategy <em>(unzips pants)</em> is to <em>(begins peeing into a cup)</em> consume one’s own urine. <em>(Shows cup to camera)</em> Alright… Here we go.<br>
– Aaaaand cut. Good take Mike.<br>
– So I don’t have to drink the...<br>
– Funny one Mike. Alright let’s get a shot where you–<br>
– I might as well drink it now. For realism.<br>
<br>
– You’re looking cold. You are freezing. And action!<br>
– Welcome back! You’re here with Mike Bradly, <em>Nature Survivalist</em>, and today we are in the frigid antarctic. There are a lot of difficulties in surviving here. Fortunately, dehydration is not one.<br>
– <em>(thumbs up off camera)</em><br>
– Unfortunately, the risk of frostbite is much worse. One strategy <em>(unzips pants)</em> for staying warm is to <em>(takes them completely off)</em> start a fire <em>(takes off boxers)</em> fueled by articles of clothing. Another is to <em>(begins peeing into a cup)</em> drink one’s own warm piss.<br>
<br>
– Hey Arthur!<br>
– Oh, hey Mike. How’s it going?<br>
– Yeah, pretty good. I just wanted to say thank you for inviting me to this potluck.<br>
– No prob–<br>
– No seriously, I know we’ve had our creative differences, but you really have been the bigger man.<br>
– It’s really not–<br>
– Did you try the lemonade I brought?<br>
– Haven’t gotten a chance.<br>
– Here, I brought you a cup to try.<br>
– …<br>
– Try it Arthur.<br>
</p>
<p>Until tomorrow,<br>GPL</p>
{% endblock %}
