{% extends "/days/daybase.html" %}
{% block article %}
<header>
<h2>Day 5</h2>
</header>

<h3>Intro</h3>
<p>Hey guys, writing this post (more than) a little late. Got a really bad headache/stomachache yesterday, and also had to pack to visit my girlfriend (Emily) in California, so I wasn't able to do a project myself. Instead however, Emily offered to do the project of the day! And she decided to work on some more Favicons! </p>

<h3>Favicons</h3>
<p>Favicons are the little icons that show up next to your tab when you go on a website. They are not an essential part of a website by any means, but they are a nice little touch to add to polish one up. I designed some on yesterday's post, so make sure to check that out! Here are the ones that Emily designed:</p>

<div class="row" style="margin-bottom:2em">
  <div class="col-4 col-6-medium col-12-small">
    <div class="image fit"><image src="/static/images/lower.jpg"> </image></div>
  </div>
  <div class="col-4 col-6-medium col-12-small">
    <div class="image fit"><image src="/static/images/upper.jpg"> </image></div>
  </div>
  <div class="col-4 col-6-medium col-12-small">
    <div class="image fit"><image src="/static/images/rock.jpg"> </image></div>
  </div>
    <div class="col-4 col-6-medium col-12-small">
    <div class="image fit"><image src="/static/images/cap.jpg"> </image></div>
  </div>
</div>

<p>These favicons turned out so so so so good. I particularly love the last one, as it is modeled off of the picture of me at a San Francisco Giants game that is located on the homepage. Will probably end up using that as the favicon.</p>

<p>Super tired, so making this a short post. Will get back to longer posts on Day 7.</p>
<p>Until tomorrow,<br>GPL</p>
{% endblock %}
