{% extends "/days/daybase.html" %}
{% block article %}
<header>
<h2>Day 6 - 1/7/2020</h2>
</header>

<h3>Intro</h3>
<p>Also a short post today, since I traveled to California, and had dinner with Emily's parents for the first time.</p>

<h3>Updates</h3>
<p>I finished up the "contact me" form on the website, so that it will actually email me when you use it. Also uploaded my favorite favicon courtesy of Emily. I'll leave you guys with this pretty shitty piece I wrote inspired by today's airplane ride:</p>

<h3>Airplane Conversation</h3>
<p><em>Some of the most interesting conversations are held in the most mundane places.</em><br>
<br>
– … so, uh, why are you flying to San Diego?<br>
– So, actually my mom and brother died in a car accident and the funeral’s in San Diego.<br>
– You’re really gonna lead with that? How do you expect our 6 hour flight to San Diego to develop from here. Like how the fuck am I supposed to sit next to you for 6 hours on a flight knowing this tragic backstory?<br>
– Uhh I was just trying–<br>
– Miss? Stewardess? Can you please change my seat? I’m sitting next to an absolute vibe killer. What do you even talk about after that?<br>
– I was just being open about a personal situation.<br>
– No. No, seriously you ruined this ride for me. I wanted to talk about work and the weather and nothing else. <br>
– I’m… I’m so sorry. <br>
– … asshole.
</p>

<p>Until tomorrow,<br>GPL</p>
{% endblock %}
