{% extends "/days/daybase.html" %}
{% block article %}
<script src="https://cdn.jsdelivr.net/npm/p5@0.10.2/lib/p5.min.js"></script>
<header>
<h2>Day 7</h2>
</header>

<h3>Intro</h3>
<p>Ahhhhhhh. Spent about 3 hours this morning figuring out issues with images on the site. Solution was so mundane and frustrating that I don't want to ever talk/think about images on this site ever again. On that note, I tried doing some new things with the lightweight graphics library <a href="https://p5js.org/">p5.js</a>. I've used the library in the past to do some 2D games/art which can be found <a href="">here</a>, but I decided this time to do some stuff with 3D rendering. Here are 2 (two) of the weird things I made:</p>

<h3>Colorful Cube</h3>
<script>
  let oneCube = new p5( (sketch) => {
    var count = 0;
    sketch.setup = () => {
      var canvas = sketch.createCanvas(500, 500, sketch.WEBGL);
      canvas.parent('cube-sketch-holder');
      sketch.background(200);
    };

    sketch.draw = () => {
      if (count == 100){
        count = 0;
        sketch.background(sketch.random(256),sketch.random(256),sketch.random(256))
      }

      sketch.rotateX(sketch.frameCount * 0.01);
      sketch.rotateY(sketch.frameCount * 0.01);
      sketch.box(150);
      count += 1;
    };
  });
</script>
<div id="cube-sketch-holder" style="margin:0 display:flex justify-content:center "></div>
<br>

<h3>Colorful Cubes</h3>
<script>
  let manyCubes = new p5( (sketch) => {
      var count = 0;
      var r = 0;
      var b = 0;
      var g = 0;
      sketch.setup = () => {
        var canvas = sketch.createCanvas(500, 500, sketch.WEBGL);
        canvas.parent('cubes-sketch-holder');
        sketch.background(200);
      }

      sketch.draw = () => {
        if (count == 100){
          count = 0;
          r = sketch.random(256);
          b = sketch.random(256);
          g = sketch.random(256);
        }

        sketch.background(r,b,g)

        sketch.rotateX(sketch.frameCount * 0.01);
        sketch.rotateY(sketch.frameCount * 0.01);
        sketch.translate(-50,-50)
        sketch.box(150);

        sketch.rotateX(sketch.frameCount * 0.01);
        sketch.rotateY(sketch.frameCount * 0.01);
        sketch.translate(50,-50)
        sketch.box(150);

        sketch.rotateX(sketch.frameCount * 0.01);
        sketch.rotateY(sketch.frameCount * 0.01);
        sketch.translate(50,50)
        sketch.box(150);

        sketch.rotateX(sketch.frameCount * 0.01);
        sketch.rotateY(sketch.frameCount * 0.01);
        sketch.translate(-50,50)
        sketch.box(150);
        count += 1;
      }
  });
</script>
<div id="cubes-sketch-holder"></div>

<p>Until tomorrow,<br>GPL</p>
{% endblock %}
