{% extends "/days/daybase.html" %}
{% block article %}
<header>
<h2>Day 8 - 1/9/2020</h2>
</header>

<h3>Intro</h3>
<p>If you are one of the few people following this site closely, you've probably realized I have been a couple days late on posts. Honestly? My bad. I am currently visiting Emily in California, and have been trying to keep up while still enjoying quality time. Luckily, I imagine the audience demanding accountability from me is pretty small right now. I hope to change this a little bit by advertising the site more at the end of January, when the site is more filled out and complete. Before I can make a sappy post about the site on Facebook however, there are a few more changes I'll need to make to the site to make it scalable and presentable.</p>

<h3>Plans</h3>
<p>I have a 2-step plan to getting the site up to a "presentable" standard:</p>

<ol>
  <li> Have more accessible interesting posts</li>
  <li> Make it easy for me to post</li>
</ol>
<p>I think that having a bunch of interesting posts will make it fun/engaging for people to go through the site. Right now, this is basically just a website about building out a website, and I doubt anyone will read past the first couple of days, because web development is pretty boring to everyone who isn't interested in web development. As important as having a large number of interesting posts is also having them be accessible. I want to make the posts accessible by tags that people can search, so that they don't have to go through the days sequentially to find something that is interesting to them.</p>

<p>Even spending all of my free time hanging out with Emily, I have more free time now than I will likely have during the school year. I really want this project to survive during the school year, and so to keep up the flow of interesting and accessible posts, I have to make the process of posting as easy as possible. I have run into a plethora of technical issues making posts now, and so I'll have to iron these out so that posts in the future do not have to be focused on website development.</p>

<h3>Today's Project</h3>
<p>Essentially, today I refactored the website so that I do not have to manually update the HTML in the project page to add a post. It will keep track of how many posts there are and automatically build out the HTML for the page. This is part of the process of building out a database/backend for the posts to live, which will make posting <em>a lot</em> easier.</p>
<p>Until tomorrow,<br>GPL</p>
{% endblock %}
